@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.background-img {
    background-color: black;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    margin: 10px 20px;
    transform: scale(0.5, 0.5);
}

.sign-up {
    width: 100vw;
}

.get-started {
    height: 20vh;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 2.5em;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    height: 90vh;
    width: 100%;
}

.input-fields {
    background-color: rgb(38, 50, 56);
    height: 90vh;
    min-height: 660.5px;
    padding: 20px 10px;
    box-shadow: 0px 3.5px 2px rgb(189, 189, 189);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

label {
    color: white;
    font-size: 1.1rem;
    padding-left: 7px;
}

input[type="text"], 
input[type="email"],
input[type="number"],
input[type="password"] {
    background-color: white;
    font-family: inherit;
    border: solid 1px rgb(206, 204, 204);
    border-radius: 10px;
    height: 35px;
    width: 75vw;
    margin-top: 5px;
    padding: 5px;
    box-shadow: 0px 3px 4px rgb(206, 204, 204) inset;
}

:focus {
    outline: 0;
}

input:focus:invalid {
    border: solid 1px rgb(195, 20, 20);
}

input:focus:valid{
    border: solid 1px rgb(19, 161, 6);
}

.create-account {
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: black;
    color: white;
    font-size: 1.3rem;
    margin: 25px auto 10px auto;
    padding: 5px;
    border: solid 2px black;
    border-radius: 15px;
    height: 50px;
    width: 75vw;
    box-shadow: 0px 3.5px 2px rgb(189, 189, 189);
}

button:hover {
    background-color: transparent;
    color: black;
    border-color: black;
}

p {
    font-size: 1rem;
    text-align: center;
    max-width: 70vw;

}

a {
    color: black;
    text-decoration: none;
}

/* Tablet */
@media screen and (min-width: 600px) {
    #logo {
        margin: 10px 20px;
        transform: scale(0.7, 0.7);
    }
    h3 {
        font-size: 3em;
    }
    .input-fields {
        min-height: 920px;
    }
    label {
        font-size: 1.5rem;
        padding-left: 10px;
    }
    input[type="text"], 
    input[type="email"],
    input[type="number"],
    input[type="password"] {
        font-size: 1.3em;
        height: 45px;
        width: 50vw;
        max-width: 50vw;
        margin-top: 10px;
        padding: 10px;
    }
    .create-account {
        height: 25vh;
    }
    button {
        font-size: 1.5rem;
        margin: 60px auto 20px auto;
        height: 70px;
        width: 50vw;
    }
    p {
        font-size: 1.3rem;
    }
}

/* Desktop */
@media screen and (min-width: 800px) {
    body {
        flex-direction: row;
        overflow: hidden;
    }
    .background-img {
        height: 100vh;
        width: 40vw;
    }
    .sign-up {
        width: 60vw;
    }
    .get-started {
        height: 15vh;
    }
    .input-fields {
        height: 65vh;
        min-height: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 80px;
        justify-content: space-around;
        align-content: space-evenly;
        gap: 2vw;
    }
    label {
        font-size: 1.2em;
        padding-left: 0;
    }
    input[type="text"], 
    input[type="email"],
    input[type="number"],
    input[type="password"] {
        width: 17vw;
        min-width: 195px;
    }
    input:hover {
        cursor: text;
    }
    .create-account {
        height: 20vh;
        width: 100%;
    }
    button {
        font-size: 1.2em;
        width: 20vw;
        max-width: 250px;
        height: 60px;
        margin: 40px auto 15px auto;
    }
    button:hover {
        cursor: pointer;
    }
    a:hover {
        text-decoration: underline;
    }
}

/* Rocket SVG animation (Credits to Freepik Storyset) */
svg#freepik_stories-to-the-stars:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-to-the-stars.animated #freepik--Smoke--inject-1--inject-26 {
    animation: 3s Infinite  linear wind;
    animation-delay: 0s;
}

svg#freepik_stories-to-the-stars.animated #freepik--Rocket--inject-1--inject-26 {
    animation: 3s Infinite  linear floating;animation-delay: 0s;
}       

@keyframes wind {                
    0% {                    
        transform: rotate(0deg);                
    }                
    25% {                    
        transform: rotate(1deg);               
    }                
    75% {                    
        transform: rotate(-1deg);                
    }            
}

@keyframes floating {                
    0% {                    
        opacity: 1;                    
        transform: translateY(0px);                
    }                
    50% {                    
        transform: translateY(-10px);                
    }                
    100% {                    
        opacity: 1;                    
        transform: translateY(0px);                
    }            
}